/* ===============================
    BOTÓN VOLVER A INICIO
=================================*/

.btn-ver-sitio{
    display:inline-flex;
    align-items:center;
    gap:6px;
    background:#fff;
    color:#001f5b;
    border:1px solid #001f5b;
    padding:8px 12px;
    border-radius:8px;
    font-size:13px;
    font-weight:600;
    text-decoration:none;
    transition:all 0.25s ease;
    box-shadow:0 2px 6px rgba(0,31,91,0.16);
}

.btn-ver-sitio:hover{
    transform:translateY(-2px);
    box-shadow:0 4px 10px rgba(0,31,91,0.24);
    background:#001f5b;
    color:white;
}

.btn-ver-sitio:active{
    transform:scale(0.95);
}

/* ===============================
   ADMIN TOPBAR
=================================*/

.admin-topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1f2937;
    padding:12px 25px;
    color:white;
}

.admin-title{
    font-weight:600;
    font-size:16px;
}

.btn-logout{
    display:inline-flex;
    align-items:center;
    gap:6px;
    background:#ef4444;
    color:white;
    padding:8px 14px;
    border-radius:6px;
    text-decoration:none;
    font-weight:600;
    font-size:13px;
    box-shadow:0 2px 6px rgba(239,68,68,0.35);
    transition:0.2s;
}

.btn-logout:hover{
    background:#b91c1c;
    transform:translateY(-2px);
    box-shadow:0 4px 10px rgba(239,68,68,0.45);
}